<!--BiZ9- Header Nav Start --!>
    <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm">
    <div class="container-fluid"> <a class="navbar-brand  fw-bold text-primary" href="#">BiZ9 Framework Website Blog Demo Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/brevo_mail_form">Brevo Mail</a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    <!--BiZ9- Header Nav Nav --!>


